.not-found {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    min-height: 100dvh;
    background-color: #FCF4E9;
}

.error-page {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    background-color: #D8B885;
    border-radius: 2rem;
}

.error-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;
    order: 2;
}
.error-options header {
    width: 100%;
    text-align: center;
}
.error-options header h1 {
    font-size: 2.5rem;
}
.error-options p {
    font-size: 1.5rem;
}
.error-options div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    background-color: #FCF4E9;
    border-radius: 1rem;
}

.error-options-single-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.error-container {
    display: flex;
    height: 100%;
    border-right: .2rem dashed #FCF4E9;
}

.error-container-tarein {
    width: clamp(3rem, 50%, 25rem);
}

.error-container-text {
    position: relative;
    display: flex;
    height: max-content;
    width: max-content;
}
.error-container-text-img {
    margin-left: -2rem;
    width: clamp(200px, 50%, 16rem);
}
.error-container-text-message {
    position: absolute;
    top: 2rem;
    left: .8rem;
    width: max-content;
    font-size: 1.8rem;
    text-align: center;
}

@media (max-width: 875px) {
    .not-found {
        width: 100%;
        padding: .5rem;
    }
    .error-page {
        flex-direction: column;
        padding: .5rem;
    }
    .error-container {
        justify-content: center;
        border-right: 0;
        order: 2;
    }
    .error-container-text-img {
        width: 9rem !important;
    }
    .error-container-text-message {
        top: 1.6rem;
        left: .4rem;
        font-size: 1.1rem;
    }
    .error-options {
        gap: 1rem;
    }
    .error-options header {
        width: max-content;
    }
    .error-options header h1 {
        font-size: 2rem;
    }
    .error-options p {
        font-size: 1.1rem;
    }
    .error-options div {
        gap: 1rem;
        width: clamp(260px, 65%, 25rem);
        padding: .5rem;
    }
    .error-options div button {
        align-items: center;
        justify-content: center;
        width: 50%;
        font-size: 1rem;
    }
}